*{
    margin: 0;
    padding: 0;}
body{
    height: 100vh;}
.weather{
    height: 100%;
    background-color: #6c826b;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.info{
    width: 200px;
    height: 200px;
    background-color: #c2e2ce;
    border-radius: 3%;
    transition: 1s;
}

.info:hover{
    transform: scale(1.1);
    transition: 1s;
}
.p{
text-align: justify;
}
