/*!*Створи веб-сторінку за макетом hw2.4: розмісти 5 блоків однакового розміру та будь якого кольору. Всередині кожного*!*/
/*блоку додай назву шрифта, та застилізуй текст зазначеним шрифтом*/
/*('Rubik Pixels','Sedgwick Ave Display', 'Dancing Script',  'Fjalla One', 'Indie Flower')*!*/
*{
    margin: 0;
    padding: 0;}
body{
    height: 100vh;
background-color: #b4cfee;

}

.font{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    }
.squares{
    width: 250px;
    height: 250px;
    background-color: #0c4f47;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}


